<ul class="slider">
  <li>
    <%= image_tag asset_path("toppage_beginners") %>
  </li>
  <li>
    <%= image_tag asset_path("karate-1343889__480") %>
  </li>
</ul>
<div class="toppage_headline"></div>

  <div class="title-head text-center my-4">
    <div class="about_service">
      <p>About Our Service</p>
      <div class="about_service_text">
        <p class="text">今何かを変えることでこの先に広がる何かを変える</p>
      </div>
    </div>
  </div>
  <div class="service_guide">
    <%= link_to column_toppages_path do %> 
      <div class="introduction">
        <div class="message">
          <p>For Every Beginners</p>
        </div>
        <div class="sub_message">
          <p>~ Let's get started from here ~</p>
        </div>
        <div class="message_text">
          <p>トレーニング・食事・サプリメント等、必要な情報は全てここから<br>
          初心者の方でも分かりやすいコラムを掲載！
          </p>
        </div>
          <%= link_to column_toppages_path do %> 
            <div class="btn btn-primary learn_button1">
              <p>Learn More</p>
            </div>
          <% end %> 
      </div>
      <div class="introduction">
        <div class="message">
          <p>For  Every  Trainees</p>
        </div>
        <div class="sub_message">
          <p>〜 Follow Users 〜</p>
        </div>
        <div class="message_text">
          <p>フォロー、フォロワー機能で<br>
          お気に入りのユーザー情報をチェック！
          </p>
        </div>
      </div>
    <% end %> 
    <%= link_to protein_toppages_path do %>
      <div class="introduction">
        <div class="message">
          <p>For  Every  Users</p>
        </div>
        <div class="sub_message">
          <p>〜 Check Review 〜</p>
        </div>
        <div class="message_text">
          <p>ユーザーによるプロテインのレビューをチェック<br>
          お気に入りのプロテインを見つけよう！
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>